{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'file_share/base.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'file_share/main.css'%}"> {% endcomment %}
    {% if title %}
        <title>ShareHub - {{ title }}</title>
    {% else %}
        <title>ShareHub</title>
    {% endif %}
</head>

<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 " id="side_navbar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none" id ="logo_heading">
                    {% comment %} <span class="fs-5 d-none d-sm-inline">SHAREHUB</span> {% endcomment %}
                    <img class="logo" src="{% static 'file_share/logo.png' %}" alt="Logo" height="50">
                    <h2 class ="logo_name bold">ShareHub</h2>
                    <hr>
                </a>
                
                <ul class="sidebar_items nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item ">
                        <a href="/home" class="pl-3 sidebar_list nav-link align-middle px-0">
                          <i class="fs-4 bi-house-fill"></i> <span class="ms-2 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/myfiles" class="pl-3 nav-link px-0 align-middle">
                            <i class="sidebar_list fs-4 bi-file-earmark-fill"></i> <span class="ms-2 d-none d-sm-inline">My Files</span> </a>
          
                    </li>
                    <li>
                        <a href="/favourites" class="pl-3 nav-link px-0 align-middle">
                            <i class="sidebar_list fs-4 bi-star-fill"></i> <span class="ms-2 d-none d-sm-inline">Favourites</span></a>
                    </li>

                    <li>
                        <a href="/otherusers" class="pl-3 nav-link px-0 align-middle">
                            <i class="sidebar_list fs-4 bi-people-fill"></i> <span class="ms-2 d-none d-sm-inline">Other Users</span></a>
                        
                    </li>
                    <li>
                        <a href="{% url 'profile' %}" class="pl-3 nav-link px-0 align-middle">
                            <i class="sidebar_list fs-4 bi-person-vcard-fill"></i> <span class="ms-2 d-none d-sm-inline">My Profile</span> </a>
                            
                    </li>
                </ul>

                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="pl-3 d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src={{user.profile.image.url}} alt="profile Pic" width="45" height="45" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ user.username }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-secondary text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rightmaindiv col py-3">
            <h3>Left Sidebar with Submenus</h3>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            
            <p class="lead">
                An example 2-level sidebar with collasible menu items. The menu functions like an "accordion" where only a single 
                menu is be open at a time. While the sidebar itself is not toggle-able, it does responsively shrink in width on smaller screens.</p>
            <ul class="list-unstyled">
                <li><h5>Responsive</h5> shrinks in width, hides text labels and collapses to icons only on mobile</li>
                
            </ul>
            <h3>My Files  <a href="{% url 'file_share:upload_file'%}" class="btn btn-success">Upload File</a></h3>
            
            {% block upload_file_content%}
            {% endblock %}
            {% for file in files %}
            <div class="file-item">
            <p>File Name: {{ file.file.name }}</p>
            <p>Uploaded At: {{ file.uploaded_at }}</p>
            {% if file.is_private %}
                <p>Privacy: Private
                <a href="{% url 'file_share:make_public' file.id %}" class="btn btn-primary">Make Public</a>
                </p>
            {% else %}
                <p>Privacy: Public
                <a href="{% url 'file_share:make_private' file.id %}" class="btn btn-primary">Make Private</a>
                </p>
            {% endif %}
            <div class="file-actions">
                <a href="{% url 'file_share:file_download' file.id %}" class="btn btn-success">Download</a>
                <a class="list-group-item-text" href="{{ file.file.url }}" target="_blank"><button type="button" class="btn btn-secondary">Preview</button> </a>
                <a href="{% url 'file_share:file_delete' file.id %}" class="btn btn-danger">Delete</a>
                {% if request.user in file.is_fav.all %}
                    <a href="{% url 'file_share:remove_fav' file.id %}" class="btn btn-primary">Remove from Favorites</a>
                {% else %}
                    <a href="{% url 'file_share:add_fav' file.id %}" class="btn btn-primary">Add to Favorites</a>
                {% endif %}
                
            </div>
            </div>
        {% empty %}
            <p>No files uploaded yet.</p>
        {% endfor %}
            
            
        </div>
    </div>
</div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> {% endcomment %}
</body>
</html>


